body {
  box-sizing: border-box;
  background-color: #f37820;
}

main {
  display: flex;
}

.formulario {
  margin-left: 40px;
  margin-top: 20px;
  padding: 30px;
  background-color: white;
  width: 450px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  height: 700px;
}

.termosDeUso {
  margin-top: 50px;
}

.buttons {
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

#button {
  width: 80%;
}
